@model IEnumerable<Northwind.Web.Models.CategoryModel>

@{
    ViewData["Title"] = "Categories Page";
}

<vc:breadcrumbs />

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th/>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(_ => item.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(_ => item.Description)
                    </td>
                    <td>
                        @Html.ActionLink("Image", "image", new { id = item.CategoryId })
                        <br />
                        @Html.ActionLink("Update", "update", new { id = item.CategoryId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Footers
{
    <footer>
        <div class="container">
            <p class="text-center text-warning font-weight-light">The categories cannot be edited.</p>
        </div>
    </footer>
}