<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Northwind</title>
</head>
<body>
    @if (IsSectionDefined(HtmlSections.Headers))
    {
        @RenderSection(HtmlSections.Headers, false)
    }
    else
    {
        <header>
            <nav class="navbar navbar-inverse navbar-dark bg-dark">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarExternalContent">
                        <ul class="nav navbar-nav">
                            <li><a href="/" class="nav-link">Home</a></li>
                            <li><a href="/Categories" class="nav-link">Categories</a></li>
                            <li><a href="/Products" class="nav-link">Products</a></li>
                        </ul>
                    </div>
                    <partial name="_LoginPartial" />
                </div>
            </nav>
        </header>
    }

    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    @if (IsSectionDefined(HtmlSections.Footers))
    {
        @RenderSection(HtmlSections.Footers, false)
    }
    else
    {
        <footer>
            <div class="container">
                <p class="text-center font-weight-light">@DateTime.Now</p>
            </div>
        </footer>
    }

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    @RenderSection(HtmlSections.Scripts, required: false)
</body>
</html>
